* {​​
box-sizing:border-box;
margin:0;
}​​

body {
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
}

header h1 {
  float: center;
}

#logo {
  width: 12%;
  align: center;
  float: left;
}

#welcome {
  text-align: center;
}

#about {
  padding-left: 10%;
  }

#login {
  float: right;
  display: inline;
  list-style-type: none;
  overflow: hidden;
}

#login li {
  display: inline;
  padding: 10px;
}

#login-header {
  padding-top: 30px;
  float: left;
}

#home ui {
  list-style: none;
}

#signup {
  display: inline-block;
  padding-top: 50px;
}

#login-header {
  padding: 50px;
  padding-left: 0px;
}

.closed {
  padding: 40px;
  margin-left: 40px;
}

.featuredItem:hover {
   -webkit-transition: all .3s ease-in;
   -moz-transition: all .3s ease-in;
   -ms-transition: all .3s ease-in;
   -o-transition: all .3s ease-in;
   transition: all .3s ease-in;
   transition-duration: 0.4s;
   opacity: 1;
   transform: scale(1.20);
   -ms-transform: scale(1.20);
   -webkit-transform: scale(1.20);
   box-shadow: 10px 10px 8px #888888;
   background-color: orange;


}


 {
  text-decoration: none;
  list-style: none;
}

body {
  background-color: white;
}


nav {
  display: list-item;
  float: left;
  width: 10%;

}

#nav {
  float: left;
}

nav ul {
  border: 3px solid #ff7733;
  border-radius: 10px;
  float: left;
  height: auto;
  display: list-item;
  padding: 0px;
  width: auto;

}

nav ul li {
    width: 100%;
    padding: 5px;
    list-style-type: none;
    text-align: center;
    font-size: 150%;
    display: block;
}

nav ul li:hover {
  text-decoration: none;
  color: white;
  background-color: #ffbb99;
  transition-duration: 0.4s;
}

#active {
  background-color: #ff7733;
}

 nav ul li a {
  color: black;
}

.nav navbar-default {
  padding: 0;
}


.featuredItem {​​
  height: 350px;
  border: 5px solid black;
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
  display: block;
  width: 350px;
  background-color: #ffbb99;


}​​

.featuredItem .featuredImg {
    max-height: 100%;
    max-width: 60%;
    float: left;


}

.featuredImg img {
    height: auto;
    width: 50%;
    float: left;

}

.featuredImg img:active {
  height: 100%;
  width: 100%;
  transition-duration: 0.5s;
}

.featuredItem p {
    width: 40%;
    float: left;
    padding-left: 20px;
}

.clearfix {
    clear: both;
}


.small-txt {
  font-size: 75%;
}

.large-txt {
  font-size: 200%;
}

.pepe {
  border-radius: 5px;
}

.closed p {
  padding-left: 10px;
}

.add {
  margin-left: 15px;
}

footer {
  background-color: black;
  color: white;
}
